<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="with=device-width" , initial-scale="1.0">
  <!--helps make the website responsive-->
  <title>CARS</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&family=Rubik+Bubbles&display=swap"
    rel="stylesheet">
  <section class="header">
    <nav>
      <a href="index.html"><img src="/static/assets/logo.png"></a>
      <div class="nav-links">
        <ul>
          <li><a href="https://teamorborb.github.io/CarHub/index.html">HOME</a></li>
          <li><a href="https://teamorborb.github.io/CarHub/about.html">ABOUT</a></li>
          <li><a href="https://teamorborb.github.io/CarHub/inventory.html">INVENTORY</a></li>
          <li><a href=".">DEALERSHIP</a></li>
          <li><a href="https://teamorborb.github.io/CarHub/Quiz.html">QUIZ</a></li>
          <li><a href="https://teamorborb.github.io/CarHub/profile.html">PROFILE</a></li>

        </ul>
      </div>
    </nav>
  </section>
  <style>
    .error {
      color: red;
    }

    .success {
      color: lime;
    }
  </style>
</head>

<body>
  <div class="text-box">
    <h2 style="margin-top: 50px;"><u>YOUR LOCAL DEALERSHIPS</u></h2>
    <div>
      <div id="info-box" class="area">
        <h3>Your location:</h3>
        <div id="location"></div>
      </div>
      <div id="info-box" class="area">
        <h3>Closest dealership</h3>
        <div id="dealership"></div>
      </div>

    </div>
    <div>
    <button style="margin-top: 5px;" class="button-29" onclick="getLocation()">Find the closest dealership!</button>
    <button class="button-29" onclick="window.location.href='/dealership_delete';">Link to all of the dealerships</button>
    <!--ADD DEALER-->
    <h2 style="margin-top: 50px;"><u>ADD YOUR LOCAL DEALERSHIP</u></h2>
    <form method="POST" action="/dealerships" style="margin-left: auto; margin-right: auto;">
      <h3 id="response-message"></h3>
      <label>Name of the dealership:</label>
      <input type="text" name="name" class="area"><br>
    
      <label>Address of the dealership:</label>
      <input type="text" name="address" class="area"><br>
    
      <label>Latitude of the dealership:</label>
      <input type="text" name="latitude" class="area"><br>
    
      <label>Longitude of the dealership:</label>
      <input type="text" name="longitude" class="area"><br>
      <input type="submit" value="Submit" class="button-29" style="margin-top: 5px;">
    </div>
    
    <div>
      <h2 style="margin-top: 50px;"><u>DELETE DEALERSHIP</u></h2>
      <br/>
      <label>Latitude of the dealership:</label>
      <br/>
      <input type="text" id="longitude-input" class="area">
      <br/>
      <label>Longitude of the dealership:</label>
      <br/>
      <input type="text" id="latitude-input" class="area">
      <br/>
      <button class="button-29" onclick="deleteDealership()" style="margin-top: 5px;">Delete</button>
      <br/>
    </div>


    </form>
  </div>
</body>

<script>
  const messageBox = document.getElementById("response-message");

  async function handleSubmit(event) {
    event.preventDefault();

    const formData = new FormData(event.target);

    let userInput = {
      "name": formData.get("name"),
      "address": formData.get("address"),
      "latitude": formData.get("latitude"),
      "longitude": formData.get("longitude"),
    };

    console.table(userInput);

    let URL = event.target.getAttribute("action");
    let response = await fetch(URL, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(userInput),
    });

    let {message, message_type: messageType} = await response.json();

    console.log(message, messageType);

    messageBox.innerText = message;
    messageBox.className = messageType;
  }

  const form = document.querySelector('form');
  form.addEventListener('submit', handleSubmit);

  // gets the location of the user
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      document.getElementById("location").innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  function findShortestLocation(userLocation, dealershipLocations) {
    // Calculate the distance between the user's location and each dealership
    let shortestDistance = Infinity
    let nearestDealership = dealershipLocations.pop();

    for (let location of dealershipLocations) {
      let distance = calculateDistance(
        userLocation.latitude,
        userLocation.longitude,
        location.latitude,
        location.longitude,
      );
      // Determine which dealership is closer
      if (distance < shortestDistance) {
        nearestDealership = location;
        shortestDistance = distance;
      }
    }
    // if there is no dealerships, then the will print out this error message. 
    if (!nearestDealership) {
      alert("couldn't find the shortest distance. Possibly due to empty dealership location list");
    }

    return nearestDealership;
  }

  function showPosition(position) {
    document.getElementById("location").innerHTML = "Latitude: " + position.coords.latitude +
      "<br>Longitude: " + position.coords.longitude;


    //let locationsURL = `https://cars.nighthawkcodingsociety.com/dealerships`;
    let locationsURL = `${location.origin}/dealerships`;
    fetch(locationsURL).then(d => d.json()).then(dealershipLocations => {

      // For demo purposes, let's say there are two dealerships
      // located at the following coordinates:
      // var dealership1 = { lat: 33.015200, lng: -117.083380 };
      // var dealership2 = { lat: 34.0522, lng: -118.2437 };
      // if ur close to dealership1, then it will output dealership 1
      // if ur close to dealership2, then it will output dealership 2



      let nearestDealership = findShortestLocation(
        {
          latitude: position.coords.latitude,
          longitude: position.coords.longitude
        },
        dealershipLocations
      );

      document.getElementById("dealership").innerHTML = `
          The nearest dealership is located at:<br />
          Name: ${nearestDealership.name}<br />
          Address: ${nearestDealership.address}<br />
          Latitude: ${nearestDealership.latitude}<br />
          Longitude: ${nearestDealership.longitude}
          `;

    });
  }

  function calculateDistance(lat1, lng1, lat2, lng2) {
    // Haversine formula to calculate the distance between two coordinates
    var radius = 6371; // Earth's radius in kilometers
    var dLat = (lat2 - lat1) * (Math.PI / 180);
    var dLng = (lng2 - lng1) * (Math.PI / 180);
    var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
      Math.cos(lat1 * (Math.PI / 180)) * Math.cos(lat2 * (Math.PI / 180)) *
      Math.sin(dLng / 2) * Math.sin(dLng / 2);
    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
    var d = radius * c;
    return d;
  }

  // delete  function
  function deleteDealership() {
  var longitude = document.getElementById('longitude-input').value;
  var latitude = document.getElementById('latitude-input').value;

  fetch(`/dealerships?longitude=${longitude}&latitude=${latitude}`, {
    method: 'DELETE'
  })
  .then(response => response.json())
  .then(data => {
    if (data.message_type === 'success') {
      document.getElementById('response-message').innerText = data.message;
    } else {
      document.getElementById('response-message').innerText = data.message;
    }
  })
  .catch(error => {
    console.error('Error deleting dealership:', error);
  });
}




</script>
</body>

</html>